<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert Results</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <ul>
        <li><a href="length_page.html" class="active">Length</a></li>
        <li><a href="weight_page.html">Weight</a></li>
        <li><a href="temperature_page.html">Temperature</a></li>
        <li style="float:right"><a href="#about">About</a></li>
    </ul>
    <h1>Results</h1>
    <p>Unit amount: {{unit}}</p>
    <p>Unit from: {{unit_from}}</p>
    <p>Unit to: {{unit_to}}</p>
    <p>Page: {{page}}</p>
</body>
</html>