<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Length Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <ul>
        <li><a href="{{ url_for('length')}}" class="active">Length</a></li>
        <li><a href="{{ url_for('weight')}}">Weight</a></li>
        <li><a href="{{ url_for('temperature')}}">Temperature</a></li>
    </ul>
    <h1>Length Unit Converter</h1>
    <form action="/convert" method="post">
        <div class="unit_selector">
            <input type= "hidden" name="page" value="length">
            <label for="unit_length">Enter the length to convert</label>
            <input type="number" min="1" max="999" id="unit" name="unit" required>
            <label for="unit_from">Unit to convert from</label>
            <select name="unit_from" id="unit_from">
                <option value="inch">Inches</option>
                <option value="foot">Foot</option>
                <option value="yard">Yard</option>
                <option value="mile">Mile</option>
                <option value="centimeter">Centimeters</option>
                <option value="meter">Meter</option>
                <option value="kilometer">Kilometer</option>
            </select>
            <label for="unit_to">Unit to convert to</label>
            <select name="unit_to" id="unit_to">
                <option value="inch">Inches</option>
                <option value="foot">Foot</option>
                <option value="yard">Yard</option>
                <option value="mile">Mile</option>
                <option value="centimeter">Centimeters</option>
                <option value="meter">Meter</option>
                <option value="kilometer">Kilometer</option>
            </select>
            <input type="submit" value="Convert" style="width: 130px;">
        </div>
    </form>
        
</body>
</html>