<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <ul>
        <li><a href="{{ url_for('length')}}" class="active">Length</a></li>
        <li><a href="{{ url_for('weight')}}">Weight</a></li>
        <li><a href="{{ url_for('temperature')}}">Temperature</a></li>
        <li style="float:right"><a href="#about">About</a></li>
    </ul>
    <h1>Unit Converter</h1>
    <div class="unit_selector">
        <label for="unit_length">Enter the length to convert</label>
        <input type="number" min="1" max="999">
        <label for="unit_from">Unit to convert from</label>
        <select name="unit_from" id="unit_from">
            <option value="fahrenheit">Fahrenheit</option>
            <option value="celsius">Celsius</option>
            <option value="kelvin">Kelvin</option>
        </select>
        <label for="unit_to">Unit to convert to</label>
        <select name="unit_to" id="unit_to">
            <option value="fahrenheit">Fahrenheit</option>
            <option value="celsius">Celsius</option>
            <option value="kelvin">Kelvin</option>
        </select>
        <button>Convert</button>
    </div>
</body>
</html>